.rdrDateRangePickerWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    & .rdrMonth {
        width: 100%;
    }

    & .rdrDefinedRangesWrapper { 
        display: none;
    }
}