@use "../../variables.scss";

.event_container {
  background-color: variables.$eventBackgroundColor;
  padding: 20px 40px;
  border-radius: variables.$containerBorderRadius;

  @media screen and (max-width: 500px) {
    padding: 20px 14px;
    
  }
}

.event_desctiption {
  font-size: 18px;
  color: #474646;
}

.event_tip {
  color: gray;
  font-size: 14px;
}

.event_note { 
    color: rgb(83, 82, 82);
    font-weight: 400;
}

.contact { 
    color: rgb(93, 105, 109);
    
    &.contact_first { 
       
        font-weight: 400;
        border-left: 1px solid rgba(83, 82, 82, 0.384);
        padding-left: 10px;
        margin-left: 10px;
    }

    &:hover { 
        color: rgb(134, 134, 139);
        transition: all 0.3s;
    }
}

.video_container { 
   
    border-radius: 0 0 variables.$containerBorderRadius variables.$containerBorderRadius;
    height: 300px;
    position: relative;
    width: 100%; /* Ширина контейнера */
    // padding-top: 30%; 
    overflow: hidden;

    @media screen and (max-width: 500px) {
        padding-top: 56.25%; /* 16:9 Aspect Ratio */
        
    }

    & video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; /* Ширина видео 100% от контейнера */
        height: 100%; /* Высота видео 100% от контейнера */
        object-fit: cover; /* Обеспечивает обрезку видео, чтобы заполнить контейнер */
    }
}



